<!DOCTYPE html>
<html lang="es">
<head>
<title>PDF Legal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <style media="screen">
        @keyframes spinner {
            to {transform: rotate(360deg);}
        }
        @-webkit-keyframes spinner {
            to {-webkit-transform: rotate(360deg);}
        }
        .spinner {
            min-width: 24px;
            min-height: 24px;
        }
        .spinner:before {
            content: 'Loading…';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32px;
            height: 32px;
            margin-top: -10px;
            margin-left: -10px;
        }
        .spinner:not(:required):before {
            content: '';
            border-radius: 50%;
            border-top: 2px solid #3b5998;
            border-right: 2px solid transparent;
            animation: spinner .6s linear infinite;
            -webkit-animation: spinner .6s linear infinite;
        }
    </style>
</head>
<body>
    <div id="root">
        <div class="spinner"></div>
    </div>
</body>
</html>